 *{
     outline: 1px red solid;
     margin: 0;
 }
 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .top {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .question {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 60px;
    margin: 15px;

    background-color: gold;

    font-size: 1.4rem;
 }
 .Suggestion {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 40px;
    margin: 5px auto;

    background-color: blueviolet;
    transition: 300ms all ease;

    font-size: 1.4rem;
 }
 .true {
   background-color: green;
 }
 .false {
   background-color: red;
 }
 .Suggestion:hover {
    background-color: gray;
    color: #ffffff;
    cursor: pointer;
 }
 .thr {
   margin-left: auto;
   margin-right: auto;
 }