 *{
     outline: 1px red solid;
     margin: 0;
     box-sizing: border-box;
 }
 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     
 }
 main {
    width: 900px;
    background-image: url("images/zidni.jpg");
 }
 .top {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .question {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 820px;
    height: 98px;
    margin: 15px;

    background-image: url("images/question.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;

    font-size: 1.4rem;
 }
 .question:hover {
    cursor: pointer;
 }
 .Suggestion {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;
    margin: 5px auto;

    background-image: url("images/suggestion.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    transition: 300ms all ease;

    font-size: 1.4rem;
 }

 .Suggestion:hover {
    opacity: 0.9;
    cursor: pointer;
 }
#thrSuggestion {
   margin-left: auto;
   margin-right: auto;
 }